<div class="container-fluid">
    <h2>Student Information</h2>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Username</th>
          <th>Student ID</th>
          <th>Email ID</th>
          <th>Address</th>
          <th>Teacher ID</th>
          <th>Teacher ID</th>
          <th>School</th>
          <th>Grade</th>
          <th>Fav Subject</th>
          <th>Aadhar Number</th>
          <th>Contact Number</th>

        </tr>
      </thead>
      <tbody  ng-repeat = "list1 in list1">
        <tr>
          <td>{{$index+1}}</td>
          <td>{{list1.username}}</td>
          <td>{{list1.student_id}}</td>
          <td>{{list1.email}}</td>
          <td>{{list1.address}}</td>
          <td>{{list1.teacher_id}}</td>
          <td>{{list1.parent_id}}</td>
          <td>{{list1.school}}</td>
          <td>{{list1.grade}}</td>
          <td>{{list1.fav_subject}}</td>
          <td>{{list1.aadhar}}</td>
          <td>{{list1.contact}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container" >
    <div class="row">
      <div class="col-md-2">
       <div class="panel-body">
         
        <a href="/api/student/getCSV" target="_self" class="btn btn-wd btn-fill btn-success" ng-disabled="btn btn-wdDisabled" download>
          Download CSV
        </a>
      </div>
    </div>

  </div>
</div>



<div class="container">
  <h2>Teachers Information</h2>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Username</th>
        <th>Teacher ID</th>
        <th>Email ID</th>
        <th>Address</th>
        <th>Qualification</th>
        <th>Job Description</th>
        <th>Teaching Exp.</th>
        <th>Aadhar Number</th>
        <th>Contact Number</th>
      </tr>
    </thead>
    <tbody  ng-repeat = "list2 in list2">
      <tr>
        <td>{{$index+1}}</td>
        <td>{{list2.username}}</td>
        <td>{{list2.teacher_id}}</td>
        <td>{{list2.email_id}}</td>
        <td>{{list2.address}}</td>
        <td>{{list2.qualification}}</td>
        <td>{{list2.job_description}}</td>
        <td>{{list2.teaching_experience}}</td>
        <td>{{list2.aadhar_no}}</td>
        <td>{{list2.contact_number}}</td>
        
      </tr>
    </tbody>
  </table>
</div>


<div class="container" >
  <div class="row">
    <div class="col-md-2">
     <div class="panel-body">
       
      <a href="/api/teacher/getCSV" target="_self" class="btn btn-wd btn-fill btn-success" ng-disabled="btn btn-wdDisabled" download>
        Download CSV
      </a>
    </div>
  </div>

</div>
</div>



<div class="container">
  <h2>Parents Information</h2>            
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Username</th>
        <th>Parent ID</th>
        <th>Email ID</th>
        <th>Address</th>
        <th>Job Description</th>
        <th>Qualification</th>
        <th>Student ID</th>
        <th>Aadhar Number</th>
        <th>Contact Number</th>
      </tr>
    </thead>
    <tbody  ng-repeat = "list3 in list3">
      <tr>
       <td>{{$index+1}}</td>
       <td>{{list3.username}}</td>
       <td>{{list3.parent_id}}</td>
       <td>{{list3.email}}</td>
       <td>{{list3.address}}</td>
       <td>{{list3.job_description}}</td>
       <td>{{list3.qualification}}</td>
       <td>{{list3.student_id}}</td>
       <td>{{list3.aadhar}}</td>
       <td>{{list3.contact}}</td>
     </tr>
   </tbody>
 </table>
</div>


<div class="container" >
  <div class="row">
    <div class="col-md-2">
     <div class="panel-body">
       
      <a href="/api/parent/getCSV" target="_self" class="btn btn-wd btn-fill btn-success" ng-disabled="btn btn-wdDisabled" download>
        Download CSV
      </a>
    </div>
  </div>

</div>
</div>

</body>
</html>
