<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    
    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="../assets/css/paper-dashboard.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">



        <div class="container" style ="margin-top: 3cm;">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Register As</h3></div>

                    <div class="panel-body">
                    <div class="row">

                        <div class="form-group">
                            <div class="text-center">
                                <a class="btn btn-wd btn-info btn-fill" href="/teacherRegister">
                                    Teacher
                                </a>

                                <a class="btn btn-wd btn-info btn-fill" href="/studentRegister">
                                    Student
                                </a>

                                <a class="btn btn-wd btn-info btn-fill" href="/parentRegister">
                                    Parent
                                </a>
</div>
                        </div>
                    </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>

