
<html>
<head>
<!-- <script src = "/assets/js/scriptTeacher.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body style="background:#eef1f6;" ng-app="my_app" ng-controller ="controllerAdmin">

<div class="container">
  <h2>Classes Information</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Standard</th>
        <th>Subject</th>
        <th>Section</th>
      

      </tr>
    </thead>
    <tbody  ng-repeat = "list4 in list4">
      <tr>
        <td>{{$index+1}}</td>
        <td>{{list4.standard}}</td>
        <td>{{list4.section}}</td>
        <td>{{list4.subject}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
