<div class="container" style ="margin-top: 0.5cm;">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Select Your Class to View Remedial Lessons</h3></div>

        <div class="panel-body">
         
          <form ng-submit="remedialLessons()">
           <div class="row">

            <div class="form-group">
              <label for="role" class="col-md-4 control-label">Standard </label>
              <div class="col-md-6">
                <select name="standard" ng-model="standard" class="form-control border-input" required="">
                  <option value="">Make a selection</option>
                  <option value="1">Class 1</option>
                  <option value="2">Class 2</option>
                  <option value="3">Class 3</option>
                  <option value="4">Class 4</option>
                  <option value="5">Class 5</option>
                  <option value="6">Class 6</option>
                  <option value="7">Class 7</option>
                  <option value="8">Class 8</option>
                  <option value="9">Class 9</option>
                  <option value="10">Class 10</option>
                </select>
              </div>
            </div>
          </div>
        <br>

        <div class="row">

          <div class="form-group">
            <label for="Section" class="col-md-4 control-label">Section</label>

            <div class="col-md-6">
              <select name="section" ng-model="section" class="form-control border-input" required="">
                <option value="">Make a selection</option>
                <option value="A">Sec A</option>
                <option value="B">Sec B</option>
                <option value="C">Sec C</option></select>
              </div>
            </div>
          </div>
        <br>
        <div class="row">

          <div class="form-group">
            <label for="subject" class="col-md-4 control-label">Subject</label>

            <div class="col-md-6">
              <select name="subject" ng-model="subject" class="form-control border-input" required="">
                <option value="">Make a selection</option>
                <option value="maths">Maths</option>
                <option value="science">Science</option>
                <option value="english">English</option></select>
              </div>
            </div>
          </div>

        <br>
        <div class="row">

          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-wd btn-success btn-fill">
                Go
              </button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div ng-if="msg1.length > 0" class="alert alert-info">
            <strong><center>{{msg1}}</center></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
</form>
</div>
</div>
</div>
</div>

<div class="container" ng-if="list.length > 0 && ok == 'ok'">
  <h2>Remedial Lessons Information</h2>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Title</th>
        <th>Content</th>
        <th>Reference File</th>
        <th>Reference Video</th>
      </tr>
    </thead>
    <tbody  ng-repeat = "list in list">
      <tr>
        <td>{{$index+1}}</td>
        <td>{{list.remedial_title}}</td>   
        <td>{{list.remedial_content}}</td>
        <td ng-if="list5.remedial_ref_upload_file.length > 0">
          <button>
          <a target="_self" href="{{list5.remedial_ref_upload_file}}" download >Click to Download!</a>
          </button>
        </td>
        <td ng-if="list.remedial_ref_link.length > 0">
          <iframe width="320" height="240" src="{{list.remedial_ref_link|trusted}}" frameborder="0" allowfullscreen>
          </iframe>
        </td>
        <td ng-if="list.remedial_ref_video.length > 0">
          <video width="320" height="240" controls>
            <source src="{{list.remedial_ref_video}}" type="video/mp4">
          </video>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
